<%- include('./include/_head') %>
<%- include('./include/_header') %>
<main role="main" class="l-main">
    <section class="l-kv">
        <div class="c-kv">
            <h1 class="c-kv-title"><img src="/assets/images/top-title.svg" alt="Anime Japan 2021" width="998" height="276"></h1>
            <p class="c-kv-lead">
AnimeJapan 2021でしか見られない<br class="sp-view">コンテンツが盛り沢山の2日間！<br>
アニメ・舞台作品のスタッフ＆キャストによるスペシャルトークやライブなど新情報満載のオンラインイベントをお届け！<br>
avex picturesの配信ステージで、盛り上がりましょう！
            </p>
            <nav class="c-nav">
                <ul class="c-nav__list">
                    <li class="c-nav__item">
                        <a href="#js-scroll-stage" class="c-link-button c-link-button--nav">STAGE</a>
                    </li>
                    <li class="c-nav__item">
                        <a href="#js-scroll-goods" class="c-link-button c-link-button--nav">GOODS</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="l-stage" id="js-scroll-stage">
        <h2 class="c-headline"><img src="/assets/images/headline01.png" alt="STAGE" width="249" height="53"></h2>
        <div class="c-tab">
            <div class="c-tab-labels" role="tablist">
                <div class="c-tab-labels__item">
                    <button 
                        class="c-link-button c-link-button--tab js-tab-button" 
                        role="tab" 
                        aria-controls="tab-content01" 
                        aria-selected="true">3.27Sat avex ブース</button>
                </div>
                <div class="c-tab-labels__item">
                    <button 
                        class="c-link-button c-link-button--tab js-tab-button" 
                        role="tab" 
                        aria-controls="tab-content02" 
                        aria-selected="false">3.28Sun avex ブース</button>
                </div>
                <div class="c-tab-labels__item">
                    <button 
                        class="c-link-button c-link-button--tab js-tab-button" 
                        role="tab" 
                        aria-controls="tab-content03" 
                        aria-selected="false">3.28Sun メインステージ</button>
                </div>
            </div>
            <div class="c-tab-body">
                <div class="c-tab-body__block js-tab-block" 
                    role="tabpanel"
                    aria-hidden="false"
                    id="tab-content01">
                    <article class="p-program">
                        <div class="p-program-visual">
                            <h3 class="p-program-visual-title">
                                <img src="/assets/images/program01-title.jpg" alt="天地創造デザイン部" width="346" height="110">
                            </h3>
                            <div class="p-program-visual-images">
                                <img src="/assets/images/program01-image01.jpg" alt="天地創造デザイン部" width="346" height="480">
                            </div>
                            <div class="p-program-visual-links">
                                <p class="p-program-visual-links__text">視聴はこちら</p>
                                <div class="p-program-visual-links__buttons">
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--youtube">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-youtube.svg" 
                                                alt="YouTube" width="20" height="14">
                                            YouTube
                                        </a>
                                    </div>
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--twitter">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-twitter.svg" 
                                                alt="Twitter LIVE" width="20" height="18">
                                            Twitter LIVE
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-program-detail">
                            <div class="p-program-detail-head">
                                <span class="p-program-detail-head__time">12:00-12:40</span>
                                <p class="p-program-detail-head__name">天啓です‼「天地創造デザイン部」スペシャルステージ</p>
                            </div>
                            <p class="p-program-detail-description">
                                笑って学べる”生き物創造お仕事コメディ”、アニメ「天地創造デザイン部」は2021年1月よりTOKYO MX／MBS／テレビ愛知／AT-X／BSフジ／Amazon Prime Video／dTVにて好評放送・配信中！<br>
                                出演キャスト＆増井壮一監督によるスペシャルトークイベントをお届けします♪
                            </p>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    出演者
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    榎木淳弥(下田役)、諏訪部順一(水島役)、岸尾だいすけ(金森役)、監督：増井壮一<br>
                                    ※出演者は追加・変更になる可能性がございます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    視聴方法
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    ※本ステージは、YouTube・Twitter LIVEにて生配信いたします。<br>
                                    ※Twitter LIVEは、当日配信するツイート上でご視聴いただけます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    アーカイブ視聴期間
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    公演終了後～2021年3月6日(土)23：59<br>
                                    ※都合によりアーカイブ期間が変更となる場合がございます。
                                </dd>
                            </dl>
                        </div>
                    </article>
                    <article class="p-program">
                        <div class="p-program-visual">
                            <h3 class="p-program-visual-title">
                                <img src="/assets/images/program02-title.jpg" alt="異世界魔王と召喚少女の奴隷魔術Ω" width="346" height="110">
                            </h3>
                            <div class="p-program-visual-images">
                                <img src="/assets/images/program02-image01.jpg" alt="異世界魔王と召喚少女の奴隷魔術Ω" width="346" height="480">
                            </div>
                            <div class="p-program-visual-links">
                                <p class="p-program-visual-links__text">視聴はこちら</p>
                                <div class="p-program-visual-links__buttons">
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--youtube">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-youtube.svg" 
                                                alt="YouTube" width="20" height="14">
                                            YouTube
                                        </a>
                                    </div>
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--twitter">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-twitter.svg" 
                                                alt="Twitter LIVE" width="20" height="18">
                                            Twitter LIVE
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-program-detail">
                            <div class="p-program-detail-head">
                                <span class="p-program-detail-head__time">#TODO</span>
                                <p class="p-program-detail-head__name">異世界魔王と召喚少女のAnimeJapan ステージ</p>
                            </div>
                            <p class="p-program-detail-description">
                                放送直前！2021年4月より放送開始のTVアニメ『異世界魔王と召喚少女の奴隷魔術Ω』の魅力をメインキャスト陣と共にお届けします。
                            </p>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    出演者
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    水中雅章（ディアヴロ役）、芹澤 優（シェラ・L・グリーンウッド役）、和氣あず未（レム・ガレウ役）<br>
                                    ※出演者は追加・変更になる可能性がございます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    視聴方法
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    ※本ステージは、YouTube・Twitter LIVEにて生配信いたします。<br>
                                    ※Twitter LIVEは、当日配信するツイート上でご視聴いただけます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    アーカイブ視聴期間
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    公演終了後～2021年3月6日（土）23：59<br>
                                    ※都合によりアーカイブ期間が変更となる場合がございます。
                                </dd>
                            </dl>
                        </div>
                    </article>
                    <article class="p-program">
                        <div class="p-program-visual">
                            <h3 class="p-program-visual-title">
                                <img src="/assets/images/program03-title.jpg" alt="新サクラ大戦 the Stage" width="346" height="110">
                            </h3>
                            <div class="p-program-visual-images">
                                <img src="/assets/images/program03-image01.jpg" alt="新サクラ大戦 the Stage" width="346" height="480">
                            </div>
                            <div class="p-program-visual-links">
                                <p class="p-program-visual-links__text">視聴はこちら</p>
                                <div class="p-program-visual-links__buttons">
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--youtube">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-youtube.svg" 
                                                alt="YouTube" width="20" height="14">
                                            YouTube
                                        </a>
                                    </div>
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--twitter">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-twitter.svg" 
                                                alt="Twitter LIVE" width="20" height="18">
                                            Twitter LIVE
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-program-detail">
                            <div class="p-program-detail-head">
                                <span class="p-program-detail-head__time">14:00-14:40</span>
                                <p class="p-program-detail-head__name">舞台「新サクラ大戦 the Stage」</p>
                            </div>
                            <p class="p-program-detail-description">
                                帝国華撃団・花組がAnimeJapan2021に参上！<br>
                                花組キャストによる「檄！帝国華撃団＜新章＞」をなどの歌唱とトークイベントをお届けします！
                            </p>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    出演者
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    関根優那（天宮さくら役）、高橋りな（東雲初穂役）、寒竹優衣（望月あざみ役）、平湯樹里（アナスタシア・パルマ役）、沖なつ芽（クラリス役）<br>
                                    ※出演者は追加・変更になる可能性がございます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    視聴方法
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    ※本ステージは、YouTube・Twitter LIVEにて生配信いたします。<br>
                                    ※Twitter LIVEは、当日配信するツイート上でご視聴いただけます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    アーカイブ視聴期間
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    公演終了後～2021年3月6日（土）23：59<br>
                                    ※都合によりアーカイブ期間が変更となる場合がございます。
                                </dd>
                            </dl>
                        </div>
                    </article>
                    <article class="p-program">
                        <div class="p-program-visual">
                            <h3 class="p-program-visual-title">
                                <img src="/assets/images/program04-title.jpg" alt="Run Girls, Radio!! " width="346" height="110">
                            </h3>
                            <div class="p-program-visual-images">
                                <img src="/assets/images/program04-image01.jpg" alt="Run Girls, Radio!! " width="346" height="480">
                            </div>
                            <div class="p-program-visual-links">
                                <p class="p-program-visual-links__text">視聴はこちら</p>
                                <div class="p-program-visual-links__buttons">
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--youtube">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-youtube.svg" 
                                                alt="YouTube" width="20" height="14">
                                            YouTube
                                        </a>
                                    </div>
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--twitter">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-twitter.svg" 
                                                alt="Twitter LIVE" width="20" height="18">
                                            Twitter LIVE
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-program-detail">
                            <div class="p-program-detail-head">
                                <span class="p-program-detail-head__time">16:00-16:40</span>
                                <p class="p-program-detail-head__name">帰ってきたRun Girls, Radio!! </p>
                            </div>
                            <p class="p-program-detail-description">
                                Run Girls, Run！による HiBiKi Radio Stationでのあの番組が帰ってきた！懐かしのコーナーと共に動画で楽しめる配信番組ならではの3人をお届けします。
                            </p>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    出演者
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    Run Girls, Run！（林鼓子、森嶋優花、厚木那奈美）<br>
                                    ※出演者は変更になる可能性がございます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    視聴方法
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    ※本ステージは、YouTube・Twitter LIVEにて生配信いたします。<br>
                                    ※Twitter LIVEは、当日配信するツイート上でご視聴いただけます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    アーカイブ視聴期間
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    公演終了後～2021年3月6日（土）23：59<br>
                                    ※都合によりアーカイブ期間が変更となる場合がございます。
                                </dd>
                            </dl>
                        </div>
                    </article>
                </div>
                <div class="c-tab-body__block js-tab-block" 
                    role="tabpanel"
                    aria-hidden="true"
                    id="tab-content02">
                    <article class="p-program">
                        <div class="p-program-visual">
                            <h3 class="p-program-visual-title">
                                <img src="/assets/images/program05-title.jpg" alt="フルーツバスケット The Final" width="590" height="188">
                            </h3>
                            <div class="p-program-visual-images">
                                <img src="/assets/images/program05-image01.jpg" alt="フルーツバスケット The Final" width="590" height="833">
                            </div>
                            <div class="p-program-visual-links">
                                <p class="p-program-visual-links__text">視聴はこちら</p>
                                <div class="p-program-visual-links__buttons">
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--youtube">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-youtube.svg" 
                                                alt="YouTube" width="20" height="14">
                                            YouTube
                                        </a>
                                    </div>
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--twitter">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-twitter.svg" 
                                                alt="Twitter LIVE" width="20" height="18">
                                            Twitter LIVE
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-program-detail">
                            <div class="p-program-detail-head">
                                <span class="p-program-detail-head__time">12:00-12:40</span>
                                <p class="p-program-detail-head__name">「フルーツバスケット」The Final 放送直前！「最後の宴を始めましょう」スペシャルステージ</p>
                            </div>
                            <p class="p-program-detail-description">
                                ついに最終章へ突入！<br>
                                「フルーツバスケット」The Final 4月放送を前に、キャストと一緒に作品を振り返ろう！
                            </p>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    出演者
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    石見舞菜香（本田 透役）、内田雄馬（草摩 夾役）、梅原裕一郎（草摩紅野役）<br>
                                    ※出演者は追加・変更になる可能性がございます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    視聴方法
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    ※本ステージは、YouTube・Twitter LIVEにて生配信いたします。<br>
                                    ※Twitter LIVEは、当日配信するツイート上でご視聴いただけます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    アーカイブ視聴期間
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    公演終了後～2021年6月30日(水)23:59<br>
                                    ※都合によりアーカイブ期間が変更となる場合がございます。
                                </dd>
                            </dl>
                        </div>
                    </article>
                    <article class="p-program">
                        <div class="p-program-visual">
                            <h3 class="p-program-visual-title">
                                <img src="/assets/images/program06-title.jpg" alt="WAVE!!～サーフィンやっぺ!!～" width="590" height="188">
                            </h3>
                            <div class="p-program-visual-images">
                                <img src="/assets/images/program06-image01.jpg" alt="WAVE!!～サーフィンやっぺ!!～" width="590" height="834">
                            </div>
                            <div class="p-program-visual-links">
                                <p class="p-program-visual-links__text">視聴はこちら</p>
                                <div class="p-program-visual-links__buttons">
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--youtube">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-youtube.svg" 
                                                alt="YouTube" width="20" height="14">
                                            YouTube
                                        </a>
                                    </div>
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--twitter">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-twitter.svg" 
                                                alt="Twitter LIVE" width="20" height="18">
                                            Twitter LIVE
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-program-detail">
                            <div class="p-program-detail-head">
                                <span class="p-program-detail-head__time">13:00-13:40</span>
                                <p class="p-program-detail-head__name">TVアニメ「WAVE!!～サーフィンやっぺ!!～」いい波のってけ最終回直前スペシャル （仮）</p>
                            </div>
                            <p class="p-program-detail-description">
                                TVアニメ「WAVE!!～サーフィンやっぺ!!～」の最終回を目の前にしてメインキャストが勢揃い!!<br>
                                スペシャルトークやチーム対抗バトルが繰り広げられます。<br>
                                さらに、新情報が解禁されるかも…！？
                            </p>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    出演者
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    前野智昭（陽岡マサキ役）、小笠原仁（秋月ショウ役）、中島ヨシキ（田中ナル役）、佐藤拓也（厳名コウスケ役）、白井悠介（松風ユータ役）、土岐隼一（木戸ナオヤ役）<br>
                                    ※出演者は追加・変更になる可能性がございます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    視聴方法
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    ※本ステージは、YouTube・Twitter LIVEにて生配信いたします。<br>
                                    ※Twitter LIVEは、当日配信するツイート上でご視聴いただけます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    アーカイブ視聴期間
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    公演終了後～2021年3月7日(日)23：59<br>
                                    ※都合によりアーカイブ期間が変更となる場合がございます。
                                </dd>
                            </dl>
                        </div>
                    </article>
                    <article class="p-program">
                        <div class="p-program-visual">
                            <h3 class="p-program-visual-title">
                                <img src="/assets/images/program07-title.jpg" alt="おそ松さん" width="590" height="188">
                            </h3>
                            <div class="p-program-visual-images">
                                <img src="/assets/images/program07-image01.jpg" alt="おそ松さん" width="590" height="333">
                            </div>
                            <div class="p-program-visual-links">
                                <p class="p-program-visual-links__text">視聴はこちら</p>
                                <div class="p-program-visual-links__buttons">
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--youtube">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-youtube.svg" 
                                                alt="YouTube" width="20" height="14">
                                            YouTube
                                        </a>
                                    </div>
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--twitter">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-twitter.svg" 
                                                alt="Twitter LIVE" width="20" height="18">
                                            Twitter LIVE
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-program-detail">
                            <div class="p-program-detail-head">
                                <span class="p-program-detail-head__time">00:00-00:00</span>
                                <p class="p-program-detail-head__name">TVアニメ「おそ松さん」第3期_最終回直前スペシャルステージ（仮）</p>
                            </div>
                            <p class="p-program-detail-description">
                                TVアニメ「おそ松さん」第3期が、3/29（月）最終回を迎えることを記念致しまして、<br>
                                おそ松役の櫻井孝宏さんとチョロ松役の神谷浩史さんが、最終回直前スペシャルトークを繰り広げます♪<br>
                                第１期、第２期と予測不能な最終回を飾ってきた「おそ松さん」。果たして今期の最終回ストーリーは？？<br>
                                みんなで予測して盛り上がりましょう!!（仮）
                            </p>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    出演者
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    櫻井孝宏（おそ松役）、中村悠一（カラ松役）、神谷浩史（チョロ松役）※調整中<br>
                                    ※出演者は追加・変更になる可能性がございます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    視聴方法
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    ※本ステージは、YouTube・Twitter LIVEにて生配信いたします。<br>
                                    ※Twitter LIVEは、当日配信するツイート上でご視聴いただけます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    アーカイブ視聴期間
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    公演終了後～2021年3月7日(日)23：59<br>
                                    ※都合によりアーカイブ期間が変更となる場合がございます。
                                </dd>
                            </dl>
                        </div>
                    </article>
                </div>
                <div class="c-tab-body__block js-tab-block" 
                    role="tabpanel"
                    aria-hidden="true"
                    id="tab-content03">
                    <article class="p-program">
                        <div class="p-program-visual">
                            <h3 class="p-program-visual-title">
                                <img src="/assets/images/program08-title.jpg" alt="キラッとプリ☆チャン" width="590" height="188">
                            </h3>
                            <div class="p-program-visual-images">
                                <img src="/assets/images/program08-image01.jpg" alt="キラッとプリ☆チャン" width="590" height="828">
                            </div>
                        </div>
                        <div class="p-program-detail">
                            <div class="p-program-detail-head">
                                <span class="p-program-detail-head__time">11:15-11:50</span>
                                <p class="p-program-detail-head__name">TVアニメ「キラッとプリ☆チャン」トーク＆ミニライブやってみた！ステージ</p>
                            </div>
                            <p class="p-program-detail-description">
                                テレビ東京系6局ネットにて毎週日曜ごぜん10:00～好評放送中のTVアニメ「キラッとプリ☆チャン」でメインキャストの声と主題歌を担当するRun Girls, Run！（林鼓子、森嶋優花、厚木那奈美）がステージに登場し、4月から放送される「クイーンズグランプリ編」に向けて、トーク＆ミニライブをキラッとお届けします♬
                            </p>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    出演者
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    櫻井孝宏（おそ松役）、中村悠一（カラ松役）、神谷浩史（チョロ松役）※調整中<br>
                                    ※出演者は追加・変更になる可能性がございます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    視聴方法
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    ※本ステージは、YouTube・Twitter LIVEにて生配信いたします。<br>
                                    ※Twitter LIVEは、当日配信するツイート上でご視聴いただけます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    アーカイブ視聴期間
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    公演終了後～2021年3月7日(日)23：59<br>
                                    ※都合によりアーカイブ期間が変更となる場合がございます。
                                </dd>
                            </dl>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="c-accordion js-accordion">
            <button class="c-accordion__button js-accordion-button"
                    id="accordion-content01-tab">
                    注意事項
            </button>
            <section class="c-accordion__content js-accordion-panel"
                     id="accordion-content01-panel">
                <h3 class="c-accordion__title">【配信に関する注意事項】</h3>
                <div class="c-accordion__detail">
                    <ul class="c-accordion__list">
                        <li class="c-accordion__item">・ステージ配信の時間は変更になる場合がございます。</li>
                        <li class="c-accordion__item">・アーティストやその他の都合、やむを得ない事由により、イベントの全部または一部を中止、変更させていただく場合がございます。</li>
                        <li class="c-accordion__item">・インターネット回線やシステム上のトラブルにより、配信映像や音声の乱れ、公演の一時中断・途中終了の可能性がございます。</li>
                        <li class="c-accordion__item">・お客様のインターネット環境、視聴環境に伴う不具合に関しては、主催者は責任を負いかねます。</li>
                        <li class="c-accordion__item">
                        ・本配信の一切の権利は主催者が有します。カメラ・スマートフォンなどによる画面録画・撮影・録音は全て禁止いたします。<br>
                        また、動画サイトなどへの無断転載・共有を行った場合、法的責任に問われる場合がございます。
                        </li>
                        <li class="c-accordion__item">・配信された映像を商用利用することは禁止とさせていただきます。これには、飲食店、広間等で聴衆から料金を受領して配信映像を流すことを含みます。</li>
                        <li class="c-accordion__item">・大勢の方が集まっての視聴は、新型コロナウイルス感染防止の観点からご遠慮くださいますようご協力をよろしくお願いいたします。</li>
                        <li class="c-accordion__item">
                        ・メインステージの「キラッとプリ☆チャン」「ゾンビランドサガ リベンジ」は、有料配信ステージとなります。<br>
                        AJステージ配信チケットのご購入・視聴は【AnimeJapan 2021公式サイト】をご確認ください。
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </section>
    <section class="l-goods" id="js-scroll-goods">
        <h2 class="c-headline"><img src="/assets/images/headline02.png" alt="GOODS" width="249" height="53"></h2>
        <div class="c-goods">
            <ul class="c-goods-list">
                <li class="c-goods-list__item">
                    <a href="#TODO" class="c-goods-list__link" target="_blank" rel="noopener">
                        <img src="/assets/images/goods-dummy.jpg" alt="#TODO" width="382" height="200">
                    </a>
                </li>
                <li class="c-goods-list__item">
                    <a href="#TODO" class="c-goods-list__link" target="_blank" rel="noopener">
                        <img src="/assets/images/goods-dummy.jpg" alt="#TODO" width="382" height="200">
                    </a>
                </li>
                <li class="c-goods-list__item">
                    <a href="#TODO" class="c-goods-list__link" target="_blank" rel="noopener">
                        <img src="/assets/images/goods-dummy.jpg" alt="#TODO" width="382" height="200">
                    </a>
                </li>
                <li class="c-goods-list__item">
                    <a href="#TODO" class="c-goods-list__link" target="_blank" rel="noopener">
                        <img src="/assets/images/goods-dummy.jpg" alt="#TODO" width="382" height="200">
                    </a>
                </li>
                <li class="c-goods-list__item">
                    <a href="#TODO" class="c-goods-list__link" target="_blank" rel="noopener">
                        <img src="/assets/images/goods-dummy.jpg" alt="#TODO" width="382" height="200">
                    </a>
                </li>
                <li class="c-goods-list__item">
                    <a href="#TODO" class="c-goods-list__link" target="_blank" rel="noopener">
                        <img src="/assets/images/goods-dummy.jpg" alt="#TODO" width="382" height="200">
                    </a>
                </li>
                <li class="c-goods-list__item">
                    <a href="#TODO" class="c-goods-list__link" target="_blank" rel="noopener">
                        <img src="/assets/images/goods-dummy.jpg" alt="#TODO" width="382" height="200">
                    </a>
                </li>
                <li class="c-goods-list__item">
                    <a href="#TODO" class="c-goods-list__link" target="_blank" rel="noopener">
                        <img src="/assets/images/goods-dummy.jpg" alt="#TODO" width="382" height="200">
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>
<%- include('./include/_footer') %>