<%- include('./include/_head') %>
<%- include('./include/_header') %>
<main role="main" class="l-main">
    <section class="l-kv">
        <div class="c-kv">
            <h1 class="c-kv-title"><img src="/assets/images/top-title.svg" alt="Anime Japan 2021" width="998" height="276"></h1>
            <p class="c-kv-lead">
AnimeJapan 2021でしか見られない<br class="sp-view">コンテンツが盛り沢山の2日間！<br>
アニメ・舞台作品のスタッフ＆キャストによるスペシャルトークやライブなど新情報満載のオンラインイベントをお届け！<br>
avex picturesの配信ステージで、盛り上がりましょう！
            </p>
            <nav class="c-nav">
                <ul class="c-nav__list">
                    <li class="c-nav__item">
                        <a href="#js-scroll-stage" class="c-link-button c-link-button--nav">STAGE</a>
                    </li>
                    <li class="c-nav__item">
                        <a href="#js-scroll-goods" class="c-link-button c-link-button--nav">GOODS</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="l-section" id="js-scroll-stage">
        <h2 class="c-headline"><img src="/assets/images/headline01.png" alt="STAGE" width="249" height="53"></h2>
        <div class="c-tab">
            <div class="c-tab-labels" role="tablist">
                <div class="c-tab-labels__item">
                    <button 
                        class="c-link-button c-link-button--tab js-tab-button" 
                        role="tab" 
                        aria-controls="tab-content01" 
                        aria-selected="true">3.27Sat avex ブース</button>
                </div>
                <div class="c-tab-labels__item">
                    <button 
                        class="c-link-button c-link-button--tab js-tab-button" 
                        role="tab" 
                        aria-controls="tab-content02" 
                        aria-selected="false">3.28Sun avex ブース</button>
                </div>
                <div class="c-tab-labels__item">
                    <button 
                        class="c-link-button c-link-button--tab js-tab-button" 
                        role="tab" 
                        aria-controls="tab-content03" 
                        aria-selected="false">3.28Sun メインステージ</button>
                </div>
            </div>
            <div class="c-tab-body">
                <div 
                    class="c-tab-body__block js-tab-block" 
                    role="tabpanel"
                    aria-hidden="false"
                    id="tab-content01">
                    <article class="p-program">
                        <div class="p-program-visual">
                            <h3 class="p-program-visual-title">
                                <img src="/assets/images/program01-title.jpg" alt="天地創造デザイン部" width="346" height="110">
                            </h3>
                            <div class="p-program-visual-images">
                                <img src="/assets/images/program01-image01.jpg" alt="天地創造デザイン部" width="346" height="480">
                            </div>
                            <div class="p-program-visual-links">
                                <p class="p-program-visual-links__text">視聴はこちら</p>
                                <div class="p-program-visual-links__buttons">
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--youtube">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-youtube.svg" 
                                                alt="YouTube" width="20" height="14">
                                            YouTube
                                        </a>
                                    </div>
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--twitter">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-twitter.svg" 
                                                alt="Twitter LIVE" width="20" height="18">
                                            Twitter LIVE
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-program-detail">
                            <div class="p-program-detail-head">
                                <span class="p-program-detail-head__time">12:00-12:40</span>
                                <p class="p-program-detail-head__name">天啓です‼「天地創造デザイン部」スペシャルステージ</p>
                            </div>
                            <p class="p-program-detail-description">
                                笑って学べる”生き物創造お仕事コメディ”、アニメ「天地創造デザイン部」は2021年1月よりTOKYO MX／MBS／テレビ愛知／AT-X／BSフジ／Amazon Prime Video／dTVにて好評放送・配信中！<br>
                                出演キャスト＆増井壮一監督によるスペシャルトークイベントをお届けします♪
                            </p>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    出演者
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    榎木淳弥(下田役)、諏訪部順一(水島役)、岸尾だいすけ(金森役)、監督：増井壮一<br>
                                    ※出演者は追加・変更になる可能性がございます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    視聴方法
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    ※本ステージは、YouTube・Twitter LIVEにて生配信いたします。<br>
                                    ※Twitter LIVEは、当日配信するツイート上でご視聴いただけます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    アーカイブ視聴期間
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    公演終了後～2021年3月6日(土)23：59<br>
                                    ※都合によりアーカイブ期間が変更となる場合がございます。
                                </dd>
                            </dl>
                        </div>
                    </article>
                    <article class="p-program">
                        <div class="p-program-visual">
                            <h3 class="p-program-visual-title">
                                <img src="/assets/images/program01-title.jpg" alt="天地創造デザイン部" width="346" height="110">
                            </h3>
                            <div class="p-program-visual-images">
                                <img src="/assets/images/program01-image01.jpg" alt="天地創造デザイン部" width="346" height="480">
                            </div>
                            <div class="p-program-visual-links">
                                <p class="p-program-visual-links__text">視聴はこちら</p>
                                <div class="p-program-visual-links__buttons">
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--youtube">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-youtube.svg" 
                                                alt="YouTube" width="20" height="14">
                                            YouTube
                                        </a>
                                    </div>
                                    <div class="p-program-visual-links__button">
                                        <a href="#TODO" class="c-link-button c-link-button--twitter">
                                            <img 
                                                class="c-link-button__leftIcon" 
                                                src="/assets/images/icon-twitter.svg" 
                                                alt="Twitter LIVE" width="20" height="18">
                                            Twitter LIVE
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-program-detail">
                            <div class="p-program-detail-head">
                                <span class="p-program-detail-head__time">12:00-12:40</span>
                                <p class="p-program-detail-head__name">天啓です‼「天地創造デザイン部」スペシャルステージ</p>
                            </div>
                            <p class="p-program-detail-description">
                                笑って学べる”生き物創造お仕事コメディ”、アニメ「天地創造デザイン部」は2021年1月よりTOKYO MX／MBS／テレビ愛知／AT-X／BSフジ／Amazon Prime Video／dTVにて好評放送・配信中！<br>
                                出演キャスト＆増井壮一監督によるスペシャルトークイベントをお届けします♪
                            </p>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    出演者
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    榎木淳弥（下田役）、諏訪部順一（水島役）、岸尾だいすけ（金森役）、監督：増井壮一<br>
                                    ※出演者は追加・変更になる可能性がございます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    視聴方法
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    ※本ステージは、YouTube・Twitter LIVEにて生配信いたします。<br>
                                    ※Twitter LIVEは、当日配信するツイート上でご視聴いただけます。
                                </dd>
                            </dl>
                            <dl class="p-program-detail-dl">
                                <dt class="p-program-detail-dl__dt">
                                    アーカイブ視聴期間
                                </dt>
                                <dd class="p-program-detail-dl__dd">
                                    公演終了後～2021年3月6日（土）23：59<br>
                                    ※都合によりアーカイブ期間が変更となる場合がございます。
                                </dd>
                            </dl>
                        </div>
                    </article>
                </div>
                <div 
                    class="c-tab-body__block js-tab-block" 
                    role="tabpanel"
                    aria-hidden="true"
                    id="tab-content02">
                    3.28Sun avexブース
                </div>
                <div 
                    class="c-tab-body__block js-tab-block" 
                    role="tabpanel"
                    aria-hidden="true"
                    id="tab-content03">
                    3.28Sun メインステージ
                </div>
            </div>
        </div>
        <div class="c-accordion">
            <button class="c-accordion__button">注意事項</button>
            <section class="c-accordion__content">
                <h3 class="c-accordion__title">【配信に関する注意事項】</h3>
                <div class="c-accordion__detail">
                    <ul class="c-accordion__list">
                        <li class="c-accordion__item">・ステージ配信の時間は変更になる場合がございます。</li>
                        <li class="c-accordion__item">・アーティストやその他の都合、やむを得ない事由により、イベントの全部または一部を中止、変更させていただく場合がございます。</li>
                        <li class="c-accordion__item">・インターネット回線やシステム上のトラブルにより、配信映像や音声の乱れ、公演の一時中断・途中終了の可能性がございます。</li>
                        <li class="c-accordion__item">・お客様のインターネット環境、視聴環境に伴う不具合に関しては、主催者は責任を負いかねます。</li>
                        <li class="c-accordion__item">
                        ・本配信の一切の権利は主催者が有します。カメラ・スマートフォンなどによる画面録画・撮影・録音は全て禁止いたします。<br>
                        また、動画サイトなどへの無断転載・共有を行った場合、法的責任に問われる場合がございます。
                        </li>
                        <li class="c-accordion__item">・配信された映像を商用利用することは禁止とさせていただきます。これには、飲食店、広間等で聴衆から料金を受領して配信映像を流すことを含みます。</li>
                        <li class="c-accordion__item">・大勢の方が集まっての視聴は、新型コロナウイルス感染防止の観点からご遠慮くださいますようご協力をよろしくお願いいたします。</li>
                        <li class="c-accordion__item">
                        ・メインステージの「キラッとプリ☆チャン」「ゾンビランドサガ リベンジ」は、有料配信ステージとなります。<br>
                        AJステージ配信チケットのご購入・視聴は【AnimeJapan 2021公式サイト】をご確認ください。
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </section>
    <section class="l-section" id="js-scroll-goods">
        <h2 class="c-headline">GOODS</h2>
    </section> -->
</main>
<%- include('./include/_footer') %>