.l-main {
    padding: 0 0 170px;

    @include sp {
        padding: 0 20px 150px;
    }
}

.l-kv {
    padding: 185px 0;

    @include sp {
        padding: 90px 0;
    }
}

.c-kv {
    color: $base-white;
    text-align: center;
}

.c-kv-title {
    font-size: 0;

    img {
        @include sp {
            width: 90%;
        }
    }
}

.c-kv-lead {
    font-size: 24px;
    font-weight: $font-weight-medium;
    line-height: 1.7;
    margin-top: 70px;

    @include sp {
        font-size: 12px;
        line-height: 1.9;
        margin-top: 25px;
        padding: 0 20px;
    }
}

.l-stage {
    margin: 0 auto;
    max-width: calc(#{$pc-content-width} + 40px);
    width: 100%;

    @include pc {
        padding: 0 20px;
    }
}

.l-goods {
    margin: 150px auto 0;
    max-width: calc(#{$pc-content-width} + 40px);
    width: 100%;
}

.l-banner {
    background: $base-blue;
    padding: 120px 0 92px;
}