.l-main {
	margin: 0 auto;
	max-width: $pc-content-width;
    padding: 0 calc(80 / #{$pc-max-width} * 100vw) calc(170 / #{$pc-max-width} * 100vw);

    @include sp {
        padding: 0 20px 75px;
    }
}

.l-kv {
    padding: calc(185 / #{$pc-max-width} * 100vw) 0;

    @include sp {
        padding: 90px 0;
    }
}


.l-stage {
    margin: 0 auto;
    width: 100%;
}

.l-goods {
    margin: calc(150 / #{$pc-max-width} * 100vw) auto 0;
    width: 100%;

    @include sp {
        margin-top: 74px;
    }
}

.l-banner {
    background: $base-blue;
    padding: calc(120 / #{$pc-max-width} * 100vw) calc(60 / #{$pc-max-width} * 100vw) calc(92 / #{$pc-max-width} * 100vw);

    @include sp {
        padding: 75px 20px 40px;
    }
}