.c-accordion {
    font-size: 0;
    margin: 40px auto 0;
}

.c-accordion__button {
    @include pc {
        display: none;
    }

    @include sp {
        @include getTriangle($base-white, bottom, 7, 7);
        align-items: center;
        background: $accordion-button-background;
        color: $base-white;
        display: flex;
        font-size: 18px;
        font-weight: $font-weight-medium;
        justify-content: center;
        min-height: 54px;
        padding: 10px 25px;
        transition: transform ease .3s;
        width: 100%;

        &::before {
            bottom: 0;
            right: 20px;
            top: 0;
        }

        &[aria-expanded="true"] {
            &::before {
                transform: rotate(180deg);
            }
        }

    }
}

.c-accordion__content {
    background: $base-white;
    padding: calc(55 / #{$pc-max-width} * 100vw) calc(60 / #{$pc-max-width} * 100vw);

    @include pc {
        max-height: 9999px !important;
    }

    @include sp {
        font-size: 12px;
        line-height: 2.1;
        padding: 18px;
        transition: max-height ease .3s, padding-top ease .3s, padding-bottom ease .3s;
        overflow: hidden;

        &[aria-hidden="true"] {
            padding-top: 0;
            padding-bottom: 0;
            max-height: 0;
        }
    }
}

.c-accordion__title {
    font-weight: $font-weight-medium;
    @include pc {
        font-size: calc(18 / #{$pc-max-width} * 100vw);
        letter-spacing: calc(2 / #{$pc-max-width} * 100vw);
    }
}

.c-accordion__detail {
    @include pc {
        font-size: calc(16 / #{$pc-max-width} * 100vw);
        line-height: 2.15;
    }
    
    @include sp {
        font-weight: $font-weight-regular;
    }
}

.c-accordion__item {
    @include pc {
        padding-left: 1em;
        text-indent: -1em;
    }
}