.c-banner {
    margin: 0 auto;
}

.c-banner-list {
    @include pc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    @include sp {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(auto-fit, calc(50% - 8px));
    }
}

.c-banner-list__item {
    font-size: 0;

    @include pc {
        margin:  calc(30 / #{$pc-max-width} * 100vw) 0 0  1.75%;
        width: 18.6%;

        &:nth-of-type(5n+1) {
            margin-left: 0;
        }
    }

    img {
        width: 100%;
    }
}

.c-banner-credit {
    color: $base-white;
    font-size: calc(16 / #{$pc-max-width} * 100vw);
    font-weight: $font-weight-light;
    text-align: center;
    margin: calc(88 / #{$pc-max-width} * 100vw) 0 0;

    @include pc {
        letter-spacing: .125em;
        line-height: 2.4;
    }

    @include sp {
        font-size: 10px;
        margin: 44px 0 0;
    }
}