.c-goods {
    margin:  calc(38 / #{$pc-max-width} * 100vw) auto 0;

    @include sp {
        margin: 25px auto 0;
    }
}
.c-goods-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.c-goods-list__item {
    font-size: 0;
    margin: calc(40 / #{$pc-max-width} * 100vw)  0 0 2%;
    width: 23.15%;

    @include pc {
        margin-left: 2.4666666666%;

        &:nth-of-type(4n+1) {
            margin-left: 0;
        }
    }

    @include sp {
        margin: 20px 0 0;
        width: 100%;
    }

    img {
        width: 100%;
    }
}

.c-goods-list__link  {
    display: block;
    margin: 10px 0 0;
}