.c-goods {
    max-width: calc(#{$pc-content-width} + 40px);
    margin: 38px auto 0;

    @include sp {
        margin: 25px auto 0;
    }
}
.c-goods-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.c-goods-list__item {
    font-size: 0;
    margin: 40px 20px 0;
    width: 382px;

    @include sp {
        margin: 20px 0 0;
        width: 100%;
    }

    img {
        width: 100%;
    }
}

.c-goods-list__link  {
    display: block;
    margin: 10px 0 0;
}