.c-goods {
    max-width: calc(#{$pc-content-width} + 40px);
    margin: 0 auto;
}
.c-goods-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.c-goods-list__item {
    font-size: 0;
    margin: 40px 20px 0;
    width: 382px;

    @include sp {
        margin: 20px 0 0;
        width: 100%;
    }
}