.c-headline{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include sp {
        img {
            &[alt="STAGE"] {
                width: 147px;
            }
        }
    }

    &::before {
        background: url(#{$IMG_PATH}icon-headline.svg) center no-repeat;
        background-size: 100%;
        content: "";
        display: block;
        height: 40px;
        margin: 0 0 38px;
        width: 76px;

        @include sp {
            margin: 0 0 24px;
            height: 24px;
            width: 46px;

        }
    }
}