
.c-kv {
    color: $base-white;
    text-align: center;
}

.c-kv-title {
    font-size: 0;
    padding: 0 20px;
}

.c-kv-lead {
    font-size: 24px;
    font-weight: $font-weight-medium;
    line-height: 1.7;
    margin-top: 70px;
    padding: 0 20px;

    @include sp {
        font-size: 12px;
        line-height: 1.9;
        margin-top: 25px;
    }
}