.c-link-button {
    align-items: center;
    border-radius: 35px;
    color: $base-white;
    display: flex;
    font-size: 24px;
    font-weight: $font-weight-medium;
    line-height: 1.875;
    justify-content: center;
    min-height: 70px;
    outline: none;
    padding: 10px;
    position: relative;
    width: 100%;

    @include sp {
        font-size: 16px;
        min-height: 50px;
    }

    &--nav {
        @include getTriangle($base-white, bottom, 8, 8);
        background: $base-black;
        letter-spacing: 2px;

        &::before {
            bottom: 0;
            right: 30px;
            top: 0;
        }

        @include sp {
            @include getTriangle($base-white, bottom, 6, 6);

            &::before {
                right: 25px;
            }
        }
    }

    &--tab {
        background: $base-white;
        color: $base-blue;
        letter-spacing: 1px;

        &[aria-selected="true"],
        &:hover,
        &:focus {
            opacity: 1;
            background: $base-blue;
            color: $base-white;
        }
    }

    &--youtube,
    &--twitter {
        font-size: 20px;

        @include sp {
            font-size: 16px;
            padding: 0;
        }
    }

    &--youtube {
        background: $youtube-color;
    }

    &--twitter {
        background: $twitter-color;
    }

    &--aj {
        @include getTriangle($base-white, right, 8, 8);
        background: $base-blue;
        font-size: 20px;
        font-weight: $font-weight-regular;
        max-width: 460px;

        &::before {
            bottom: 0;
            right: 36px;
            top: 0;
        }

        @include sp {
            @include getTriangle($base-white, right, 6, 6);
            font-size: 16px;

            &::before {
                right: 14px;
            }
        }
    }
}

.c-link-button__leftIcon {
    bottom: 0;
    left: 34px;
    margin: auto;
    position: absolute;
    top: 0;

    @include sp {
        left: 27px;
    }
}