.c-link-button {
    align-items: center;
    border-radius: 35px;
    color: $base-white;
    display: flex;
	font-size: 14px;
    font-weight: $font-weight-medium;
    line-height: 1.875;
    justify-content: center;
    outline: none;
    position: relative;
    width: 100%;

    @include pc {
        padding: .5em;
    }

    @include sp {
        font-size: 16px;
        min-height: 50px;
    }

    &--nav {
        @include getTriangle($base-white, bottom, 8, 8);
    	font-size: calc(24 / #{$pc-max-width} * 100vw);
        background: $base-black;
        letter-spacing: .08em;
		@include sp {
			font-size: 16px;
		}
		
        &::before {
            bottom: 0;
            right: 30px;
            top: 0;
        }

        @include sp {
            @include getTriangle($base-white, bottom, 6, 6);

            &::before {
                right: 25px;
            }
        }
    }

    &--tab {
        background: $base-white;
        color: $base-blue;
        letter-spacing: 1px;
		font-size: 18px;
    	font-weight: $font-weight-medium;
		@include sp {
			font-size: 16px;
		}

        &[aria-selected="true"],
        &:hover,
        &:focus {
            opacity: 1;
            background: $base-blue;
            color: $base-white;
        }
    }

    &--youtube,
    &--twitter {
        font-size: calc(20 / #{$pc-max-width} * 100vw);

        @include sp {
            font-size: 16px;
            padding: 0;
        }
    }

    &--youtube {
        background: $youtube-color;
    }

    &--twitter {
        background: $twitter-color;
    }

    &--aj {
        @include getTriangle($base-white, right, 8, 8);
        background: $base-blue;
        font-size: calc(20 / #{$pc-max-width} * 100vw);
        font-weight: $font-weight-regular;

        &::before {
            bottom: 0;
            right: 36px;
            top: 0;
        }

        @include sp {
            @include getTriangle($base-white, right, 6, 6);
            font-size: 16px;

            &::before {
                right: 14px;
            }
        }
    }
}

.c-link-button__leftIcon {
    bottom: 0;
    left: 24px;
    margin: auto;
    position: absolute;
    top: 0;

    @include sp {
        left: 20px;
    }
}