.c-nav{
    margin-top: 55px;

    @include sp {
        margin-top: 10px;
    }
}

.c-nav__list {
    @include pc {
        display: flex;
        justify-content: center;
    }
}

.c-nav__item {
    max-width: 440px;
    width: 100%;
    padding: 15px 20px 0;

    @include sp {
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
}