.c-tab {
    margin: 50px auto 0;

    @include sp {
        margin: 25px auto 0;
    }
}

.c-tab-labels {
    @include pc {
        display: flex;
        justify-content: center;
    }
}

.c-tab-labels__item {
    max-width: 400px;
    width: 100%;
    padding: 15px 20px 0;

    @include sp {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.c-tab-body {
    margin: 80px auto 0;

    @include sp {
        margin: 40px auto 0;
    }
}

.c-tab-body__block {
    display: none;

    &[aria-hidden="false"] {
        display: block;
    }
}