.c-tab {
    margin: calc(90 / #{$pc-max-width} * 100vw) auto 0;

    @include sp {
        margin: 25px auto 0;
    }
}

.c-tab-labels {
    @include pc {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.c-tab-labels__item {
    max-width: 440px;
    width: 100%;

    @include pc {
        max-width: calc(400 / #{$pc-max-width} * 100vw);
        &:nth-of-type(2) {
            margin: 0 calc(40 / #{$pc-max-width} * 100vw);
        }
    }

    @include sp {
        padding: 15px 25px 0;
        margin: auto;
    }
}

.c-tab-body {
    margin: 55px auto 0;

    @include sp {
        margin: 40px auto 0;
    }
}

.c-tab-body__block {
    display: none;

    &[aria-hidden="false"] {
        display: block;
    }
}