.l-footer {
  align-items: center;
  background: $base-blue;
  border-top: 2px solid $base-white;
  color: $base-white;
  display: flex;
  justify-content: center;
  padding: 31px 0 29px;
  position: relative;

  @include sp {
    border-width: 1px;
    padding: 12px 0;
  }
}

.l-footer-icon {
  font-size: 0;
  margin: 0 auto;

  @include sp {
    img {
      width: 25px;
    }
  }
}

.l-footer-copy {
  position: absolute;
  right: 102px;

  @include sp {
    font-size: 10px;
    right: 22px;
  }
}