.l-header {
  align-items: center;
  background: $base-blue;
  display: flex;
  justify-content: space-between;
  padding: 0 calc(60 / #{$pc-max-width} * 100vw);
  width: 100%;

  @include pc {
    height: calc(100 / #{$pc-max-width} * 100vw);
    max-height: 70px;
  }

  @include sp {
    padding: 17px 20px;
  }
}

.l-header-title {
  font-size: 0;

  img {
    @include pc {
      width: calc(353 / #{$pc-max-width} * 100vw);
      max-width: 353px;
    }
    @include sp {
      width: 185px;
    }
  }
}

.l-header-sns {
  align-items: center;
  color: $base-white;
  display: flex;
}

.l-header-sns__button {

  & + & {
    margin-left: calc(24 / #{$pc-max-width} * 100vw);

    @include sp {
      margin-left: 12px;
    }
  }

  &--tw {
    width: calc(36 / #{$pc-max-width} * 100vw);
    max-width: 36px;
    @include sp {
      width: 18px;
    }
  }

  &--fb {
    width: calc(17 / #{$pc-max-width} * 100vw);
    max-width: 17px;
    @include sp {
      width: 9px;
    }
  }
}

.l-header-sns__links {
  align-items: center;
  display: flex;
  margin-left: calc(18 / #{$pc-max-width} * 100vw);;

  @include sp {
    margin-left: 14px;
  }
}

.l-header-sns__text {
  font-size: calc(16 / #{$pc-max-width} * 100vw);

  @include pc {
    font-weight: $font-weight-regular;
    letter-spacing: .125em;
  }

  @include sp {
    font-size: 10px;
  }
}