.l-header {
  background: $base-blue;
  display: flex;
  justify-content: space-between;
  padding: 34px 60px;
  width: 100%;

  @include sp {
    padding: 17px 20px;
  }
}

.l-header-title {
  font-size: 0;
}

.l-header-sns {
  align-items: center;
  color: $base-white;
  display: flex;
}

.l-header-sns__button {
  @include sp {
    &--tw {
      width: 18px;
    }

    &--fb {
      width: 9px;
    }
  }
}

.l-header-sns__links {
  align-items: center;
  display: flex;
  margin-left: 18px;
}

.l-header-sns__text {
  font-weight: $font-weight-regular;
  letter-spacing: 2px;
}