.p-program {
    background: $program-background;
    padding: 60px;

    @include pc {
        display: flex;
    }

    @include sp {
        padding: 20px 20px 15px;
    }

    & + & {
        margin-top: 40px;

        @include sp {
            margin-top: 20px;
        }
    }
}

.p-program-visual {
    display: flex;
    flex-direction: column;
    @include pc {
        width: 346px;
        flex-basis: 346px;
    }
}

.p-program-visual-title {
    font-size: 0;

    img {
        width: 100%;
    }
}

.p-program-visual-images {
    font-size: 0;
    margin-top: 30px;

    @include sp {
        margin-top: 20px;
    }

    img {
        width: 100%;
    }
}

.p-program-visual-links {
    background: $base-white;
    margin-top: 30px;
    padding: 23px 28px 30px;
    text-align: center;

    @include sp {
        margin-top: 20px;
        padding: 13px 18px 22px;
    }
}

.p-program-visual-links__text {
    font-size: 18px;
    font-weight: $font-weight-medium;

    @include sp {
        font-size: 13px;
    }
}

.p-program-visual-links__buttons {
    margin: 15px auto 0;

    @include sp {
        margin-top: 8px;
    }
}

.p-program-visual-links__button {
    & + & {
        margin-top: 10px;
    }
}

.p-program-detail {
    @include pc {
        flex: 1 1 0;
        padding: 0 0 0 60px;
    }
}

.p-program-detail-head {
    font-size: 28px;
    font-weight: $font-weight-medium;

    @include pc {
        align-items: center;
        display: flex;
    }

    @include tablet {
        flex-wrap: wrap;
    }

    @include sp {
        font-size: 17px;
    }
}

.p-program-detail-head__time {
    background: $base-blue;
    color: $base-white;
    min-height: 70px;
    padding: 10px;
    text-align: center;
    width: 200px;

    @include sp {
        display: block;;
        margin-top: 20px;
        min-height: 44px;
        padding: 5px;
        width: 134px;
    }
}

.p-program-detail-head__name {
    line-height: 1.4;

    @include pc {
        flex: 1;
        padding-left: 25px;
    }

    @include tablet {
        flex: auto;
        padding-left: 0;
    }

    @include sp {
        line-height: 1.7;
        margin-top: 10px;
    }
}

.p-program-detail-description {
    margin-top: 32px;

    @include sp {
        margin-top: 5px;
    }
}

.p-program-detail-dl {
    margin-top: 24px;

    @include sp {
        margin-top: 8px;
    }
}

.p-program-detail-dl__dt {
    color: $base-blue;
}

.p-program-detail-dl__dd {
    @include pc {
        &--indent {
            @include textIndent;
        }
    }
}

.p-program-detail-button {
    margin-top: 32px;

    @include sp {
        margin-top: 8px;
    }
}