.p-program {
    background: $program-background;
    padding: calc(60 / #{$pc-max-width} * 100vw);

    @include pc {
        display: flex;
    }

    @include sp {
        padding: 20px 20px 15px;
    }

    & + & {
        margin-top: calc(40 / #{$pc-max-width} * 100vw);

        @include sp {
            margin-top: 20px;
        }
    }
}

.p-program-visual {
    display: flex;
    flex-direction: column;
    @include pc {
        width: calc(346 / #{$pc-max-width} * 100%);
        flex: 0 0 calc(346 / #{$pc-max-width} * 100%);
    }
}

.p-program-visual-title {
    font-size: 0;

    img {
        width: 100%;
    }
}

.p-program-visual-images {
    font-size: 0;
    margin-top: calc(30 / #{$pc-max-width} * 100vw);

    @include sp {
        margin-top: 20px;
    }

    img {
        width: 100%;
    }
}

.p-program-visual-links {
    background: $base-white;
    margin-top: calc(30 / #{$pc-max-width} * 100vw);
    padding: calc(23 / #{$pc-max-width} * 100vw) calc(28 / #{$pc-max-width} * 100vw) calc(30 / #{$pc-max-width} * 100vw);
    text-align: center;

    @include sp {
        margin-top: 20px;
        padding: 13px 18px 22px;
    }
}

.p-program-visual-links__text {
    font-size: calc(18 / #{$pc-max-width} * 100vw);
    font-weight: $font-weight-medium;

    @include sp {
        font-size: 13px;
    }
}

.p-program-visual-links__buttons {
    margin: calc(15 / #{$pc-max-width} * 100vw) auto 0;

    @include sp {
        margin-top: 8px;
    }
}

.p-program-visual-links__button {
    & + & {
        margin-top: calc(15 / #{$pc-max-width} * 100vw);
        @include sp {
            margin-top: 15px;
        }
    }
}

.p-program-detail {
    @include pc {
        flex: 1 1 0;
        padding: 0 0 0 calc(60 / #{$pc-max-width} * 100%);
    }
}

.p-program-detail-head {
    font-size: 16px;
    font-weight: $font-weight-medium;

    @include pc {
        align-items: center;
        display: flex;
    }

    @include tablet {
        flex-wrap: wrap;
    }

    @include sp {
    }
}

.p-program-detail-head__time {
    align-items: center;
    background: $base-blue;
    color: $base-white;
    display: flex;
    justify-content: center;
    padding: .4em;
    text-align: center;
    width: calc(200 / #{$pc-max-width} * 100vw);
	max-width: 200px;

    @include sp {
        display: block;
        margin-top: 20px;
        min-height: 44px;
        padding: 5px;
        width: 134px;
    }
}

.p-program-detail-head__name {
    line-height: 1.4;

    @include pc {
		font-size: calc(28 / #{$pc-max-width} * 100vw);
        flex: 1;
        padding-left: calc(25 / #{$pc-max-width} * 100vw);
    }

    @include sp {
		font-size: 24px;
        line-height: 1.7;
        margin-top: 10px;
    }
}

.p-program-detail-description {
    margin-top: calc(32 / #{$pc-max-width} * 100vw);

    @include sp {
        margin-top: 5px;
    }
}

.p-program-detail-dl {
    margin-top: calc(24 / #{$pc-max-width} * 100vw);

    @include sp {
        margin-top: 8px;
    }
}

.p-program-detail-dl__dt {
    color: $base-blue;
}

.p-program-detail-dl__dd {
    @include pc {
        &--indent {
            @include textIndent;
        }
    }
}

.p-program-detail-button {
    margin-top: calc(32 / #{$pc-max-width} * 100vw);

    @include pc {
        max-width: 460px;
    }

    @include sp {
        margin-top: 8px;
    }
}