<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-568M725');</script>
	<!-- End Google Tag Manager -->
	<title>AnimeJapan 2021 エイベックス・ピクチャーズブース 配信ステージ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="AnimeJapan 2021でしか見られないコンテンツが盛り沢山の2日間！アニメ・舞台作品のスタッフ＆キャストによるスペシャルトークやライブなど新情報満載のオンラインイベントをお届け！avex picturesの配信ステージで、盛り上がりましょう！ ">
	<meta name="keywords" content="AnimeJapan,アニメジャパン,エイベックス・ピクチャーズ,avex,天地創造デザイン部,異世界魔王と召喚少女の奴隷魔術Ω,新サクラ大戦 the Stage,Run Girls, Run！フルーツバスケット,WAVE!!～サーフィンやっぺ!!～,おそ松さん,キラッとプリ☆チャン,ゾンビランドサガ リベンジ">
	<meta property="og:title" content="AnimeJapan 2021 エイベックス・ピクチャーズブース 配信ステージ">
	<meta property="og:description" content="AnimeJapan 2021でしか見られないコンテンツが盛り沢山の2日間！アニメ・舞台作品のスタッフ＆キャストによるスペシャルトークやライブなど新情報満載のオンラインイベントをお届け！avex picturesの配信ステージで、盛り上がりましょう！ ">
	<meta property="og:image" content="<%= path %>assets/images/ogp.jpg">
	<meta property="og:url" content="https://avex.jp/aj2021/">
	<meta property="og:site_name" content="AnimeJapan 2021 エイベックス・ピクチャーズブース 配信ステージ">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@animejapan_aj">
	<meta name="twitter:creator" content="@animejapan_aj">
	<meta name="twitter:title" content="AnimeJapan 2021 エイベックス・ピクチャーズブース 配信ステージ">
	<meta name="twitter:description" content="AnimeJapan 2021でしか見られないコンテンツが盛り沢山の2日間！アニメ・舞台作品のスタッフ＆キャストによるスペシャルトークやライブなど新情報満載のオンラインイベントをお届け！avex picturesの配信ステージで、盛り上がりましょう！ ">
	<meta property="fb:app_id" content="#TODO">
	<link rel="stylesheet" href="<%= path %>assets/css/style.css">
	<link rel="shortcut icon" href="https://avex.jp/favicon.ico">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-568M725"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<%- include('./_svg') %>
<!-- // SVG-->
<div class="l-wrapper">
<div class="c-loading" id="js-loading"></div>