<header class="l-header">
    <h1 class="l-header-title"><img src="/assets/images/ci.svg" alt="avex pictures" width="353" height="40"></h1>
    <div class="l-header-sns">
        <div class="l-header-sns__text">SHARE</div>
        <div class="l-header-sns__links">
            <button class="l-header-sns__button l-header-sns__button--tw" onclick="window.open('http://twitter.com/share?url='+encodeURIComponent(document.location)+'&amp;text='+encodeURIComponent(document.getElementsByName('description').item(0).content)+'&amp;hashtags=animejapan', 'tweetwindow', 'width=550, height=220,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;"><img src="/assets/images/icon-twitter.svg" alt="Twitter" width="36" height="31"></button>
            <button class="l-header-sns__button l-header-sns__button--fb" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(document.location), 'facebook', 'width=626,height=436'); return false;"><img src="/assets/images/icon-facebook.svg" alt="Facebook" width="17" height="31"></button>
        </div>
    </div>
</header>