<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>AnimeJapan 2021エイベックス・ピクチャーズブース</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="エイベックス・ピクチャーズ　AimeJapan 2021 ブース情報です。各作品・アーティストのステージイベントを開催予定！人気作品のグッズ販売も！ ">
	<meta name="keywords" content="AnimeJapan,アニメジャパン,エイベックス・ピクチャーズ,avex,えいがのおそ松さん,ガーリー・エアフォース,KING OF PRISM -Shiny Seven Stars-,賢者の孫,トリカゴスクラップマーチ,劇場版「トリニティセブン」,ブラッククローバー,フルーツバスケット,Run Girls, Run！,キンプリ,おそ松,トリカゴ,AJ,エイベックス,トリニティセブン,フルバ,ランガ,ブラクロ">
	<meta property="og:title" content="AnimeJapan 2021エイベックス・ピクチャーズブース">
	<meta property="og:description" content="エイベックス・ピクチャーズ　AimeJapan 2021 ブース情報です。各作品・アーティストのステージイベントを開催予定！人気作品のグッズ販売も！ ">
	<meta property="og:image" content="<%= path %>assets/images/ogp.jpg">
	<meta property="og:url" content="http://avex.jp/aj2021/">
	<meta property="og:site_name" content="AnimeJapan 2021エイベックス・ピクチャーズブース">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@animejapan_aj">
	<meta name="twitter:creator" content="@animejapan_aj">
	<meta name="twitter:title" content="AnimeJapan 2021エイベックス・ピクチャーズブース">
	<meta name="twitter:description" content="エイベックス・ピクチャーズ　AimeJapan 2021 ブース情報です。各作品・アーティストのステージイベントを開催予定！人気作品のグッズ販売も！ ">
	<meta property="fb:app_id" content="#TODO">
	<link rel="stylesheet" href="<%= path %>assets/css/style.css">
	<!-- GTM -->
	<!-- // GTM-->
</head>
<body>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-568M725');</script>
<!-- End Google Tag Manager -->
<%- include('./_svg') %>
<!-- // SVG-->
<div class="l-wrapper" id="js-scroll-top">